<launch>
    
    <arg name="tabletop_ork_file" value="$(find object_recogn_tc)/conf/detection.object_fetch.ros.ork"/>
    
    <node pkg="object_recognition_core"
    type="detection"
    name="object_recognition_server_node"
    args="-c $(arg tabletop_ork_file)"
    output="screen">
    </node>

</launch>